<div  fxLayout="row" fxLayoutAlign="space-around center" >
    <div align="center" fxLayout="row" fxLayoutAlign="center center"  class="register-form">
  
      <form role="form" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
  
        <mat-card class="mat-elevation-z8" flex="100">
  
          <mat-card-title>Editar Serviço</mat-card-title>
  
          <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch">
                        
            <div fxLayout="row" fxLayoutAlign="space-between stretch">
              <mat-form-field fxFlex="100">
              <input matInput type="text" formControlName="cliente" 
                  autocomplete="cliente" placeholder="Cliente" readonly value="{{ (servico|async)?.cliente }}" >
            </mat-form-field>           
            </div> 

            <div fxLayout="row" fxLayoutAlign="space-between stretch">
              <mat-form-field fxFlex="100">
                <input matInput type="text" formControlName="data" 
                  autocomplete="data" placeholder="Data de abertura" value="{{ (servico|async)?.data }}">
              </mat-form-field>                              
            </div>
  
            <div fxLayout="row" fxLayoutAlign="space-between stretch">
                <mat-form-field fxFlex="100">
                <input matInput type="text" formControlName="descricao" 
                  autocomplete="descricao" placeholder="Descrição" value="{{ (servico|async)?.descricao }}"  >
                </mat-form-field>
            </div>
  
            <div fxLayout="row" fxLayoutAlign="space-between stretch">
                <mat-form-field fxFlex="100">
                <input matInput type="text" formControlName="valor" 
                    autocomplete="valor" placeholder="Valor" value="{{ (servico|async)?.valor }}" >
              </mat-form-field>           
            </div> 
            
            <div fxLayout="row" fxLayoutAlign="end end" >
              <button mat-button color="primary" type="submit" [disabled]="!formRegister.valid">
                <mat-icon>done</mat-icon>&nbsp;Salvar
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
</div>
